## Aristo P Joesoef - N14556381

**Question 1:**

In [1]:
2+5 #The + sign signifies an addition

7

In [2]:
2 + 5 #The + sign signifies an addition, and white space is ignored in this case

7

In [3]:
2*5 #The * sign signifies a multiplication

10

In [4]:
2/5 #The / sign signifies a division

0.4

In [5]:
2**5 #2**5 means we are calculating 2 to the power of 5

32

**Question 2:**

In [12]:
x = 7
x = x + 3
print(x)

10

The value of x is 10. When x=7 was executed, the object "x" was assigned the value of 7. Thus, when we execute x=x+3, we are essentially assigning a new value to x, where that value is 7+3, which equals 10.

**Question 3:**

In [13]:
x = 3
y = x
x = 10
print(x,y)

10 3

The value of y is 3, which is the value of x when y=x was executed. In other words, y was assigned the value of 3, and a change in the value assigned to x does not affect y.

**Question 4:**

In [14]:
x = 3
x = x/2
y = "abc"
z = y + y
print(x,z)

1.5 abcabc

As with the execution of x=7 then x=x+3 with the end result x=10, the value of x here was assigned as 3, then a new value of 3/2=1.5 is assigned to x. In the case of z, we are adding y and y, where y is a **string** "abc". Python allows the addition of **strings**, where y+y results in abc+abc=abcabc. The value of z is thus abcabc.

**Question 5:**

In [15]:
x = 3
x = x/2
y = "abc"
z = x + y
print(x,z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The execution of the above cell results in an error. The error stems from the addition of x and y. As x and y are different types of variables (x is an integer while y is a string), they cannot be added.

**Question 6:**

In [16]:
x = 3
y = 24
z = y/x
print(x, y, z, sep=' | ')

3 | 24 | 8.0

The command *sep*=' | ' within *print* specifies that each value printed is seperated from the other by a "white space"+"|"+"white space", or ' | '.

**Question 7:**

In [17]:
x = 3
y = '24'
z = y/x
print(x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

The execution of the above cell results in an error, as we are trying to divide two different variable types - x is an **integer**, while y is a **string**. y is a **string** because the characters "24" are put in quotation marks.

**Question 8:**

In [19]:
x = "I am a #string" #Whoa, a string!
print(x)

I am a #string

The above cell does not result in an error. It produces a **string** "I am a #string", which is assigned to x. The following words, "#Whoa, a string!", are comments (as they are preceded by the # symbol) and do not affect the execution of the cell in any way.

**Question 9:**

In [20]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

In the above cell, we are dealing with **lists**. When we add **lists** together, we do not add the individual values within one **list** to the individual values of the other **list**. Instead, adding a **list** to another only adds more values into the new **list**. Hence, as x has 3 elements and y has 2 elements, z will have 3+2=5 elements.

**Question 10:**

In [22]:
x = [1, 2, 3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

In the above cell, an error occurs because we are trying to add an **integer** to a **list**. As **integers** and **lists** are different variabel types, we cannot add them together.

**Question 11:**

In [23]:
x1 = 12
x2 = 12.0
x3 = '12.0'
x4 = [12]
x5 = [12, 12.0, '12.0']

x1 is an **integer**

x2 is a **float** (a float represents real numbers, and is written with decimal points to signify that the float is made up of an integer - the part before the point - and a fraction - the part after the point)

x3 is a **string**

x4 is a **list** with only 1 element

x5 is also a **list**, but it has 3 elements

**Question 12:**

In [26]:
type(42)
#42 is an integer, the "type" function tells us the type of the variable

int

In [27]:
type(42.0)
#42.0 is a float, the "type" function tells us the type of the variable

float

In [28]:
type('42.0')
#'42.0' is a string, the "type" function tells us the type of the variable

str

In [29]:
type("42.0")
#"42.0" is a string, the "type" function tells us the type of the variable

str

In [30]:
type("""42.0""")
#"""42.0""""" is a string, the "type" function tells us the type of the variable

str

In [31]:
type([1, 2])
#[1, 2] is a list, the "type" function tells us the type of the variable

list

In [32]:
type([1] + [2])
#[1]+[2] is an addition of two lists, resulting in a list. "type" tells us that this is a list

list

In [33]:
type(1 + 2)
#1+2 results in 3, which is an integer, the "type" function tells us the type of the variable

int

In [34]:
type(print)
#print is a built-in function, the "type" function tells us what print is

builtin_function_or_method

**Question 13:**

In [35]:
type(float(str(int('1234'))))

float

The function *int* converts a string or number to an **integer**, the function *str* converts the object into a **string**, and the function *float* converts a string or number into a **float**.

In the above cell, '1234' is converted from a **string** into an **integer**, then converted into a **string** again, then finally converted into a **float**. Thus, the *type* function will tell us that the value is a **float**.

**Question 14:**

In [36]:
type(int(float('12.34')))

int

The above cell is similar to the previous cell. The *float* function converts the **string** "12.34" into a **float**, then the *int* function converts it into an **integer**.

Thus, the *type* function will tell us that the value is an **integer**.

**Question 15:**

In [46]:
len([1234])
#the len function returns the number of items in the brackets
#[1234] is considered a list with one item.

1

In [42]:
len("1234")
#"1234" is considered as a string with 4 items/characters: 1, 2, 3, and 4

4

In [43]:
len(1234)
#the len function does not work with integers.

TypeError: object of type 'int' has no len()

**Question 16:**

In [49]:
x = []
type(x)

list

In [50]:
len(x)

0

x is a **list** with a length of 0, which means that it is an empty **list**.

**Question 17:**

In [51]:
x = 'abcde'
list(x)

['a', 'b', 'c', 'd', 'e']

Converting the **string** x into a **list** separates each item in the **string** into individual elements in the **list**. This results in a **list** with 5 elements.

**Question 18:**

In [61]:
x=1234
float(x)

1234.0

In [62]:
str(x)

'1234'

In [63]:
list(str(x))

['1', '2', '3', '4']

###### Note
Even after using the above functions to convert x into a different type of variable, printing x will still give the initial type of x, which is an **integer**, as shown in the following cell.

In [64]:
print(x)

1234

**Question 19:**

In [76]:
x = "luke, i am your father"
print(x.title())
#Pressing the tab key accesses tab completion, which suggests possible attributes and functions
#The "title" function capitalizes the first letter of all words in the string
#The "capitalize" function only capitalizes the first letter in the string

Luke, I Am Your Father

**Question 20:**

In [90]:
x = "How many characters and words are in this string?"
print("x has", len(x), "characters")

x has 49 characters

In [94]:
print(list(x))
#Note that just executing list(x) will present the list vertically instead of horizontally.

['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']

In [95]:
print(x.split())

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

The list function is unnecessary as x is automatically converted into a **list** when being split into words. The empty bracket after *split* specifies that the separation is based on white space.

In [99]:
print("x contains", len(x.split()), "words")

x contains 9 words

**Question 21:**

It took approximately 140 minutes for me to complete this assignment, with 1 break(s). The csv file containing this information has been uploaded.